:root{
    --primario:#9C27B0;
    --primarioOscuro: #89119D;
    --secundario: #FFCE00;
    --secundarioOscuro: RGB(233,287,2);
    --blanco: #FFFFFF;
    --negro: #000;
    
    --fuentePrincipal:'Staatliches', cursive;;
    }
    
    html {
        box-sizing: border-box;
        font-size: 62.5%;
    }
    
    *,*:before, *:after {
        box-sizing: inherit;
    }
    
    /*Globales*/
    body {
       background-color: var(--primario);
        font-size: 1.6rem;
        line-height: 1.5; /*Interlineado*/
    }
     p{
        font-size: 1.8rem;
       font-family: Arial, Helvetica, sans-serif; 
       color: var(--blanco);
    }
    .producto p:hover{
        color: red;
    }
    a {
        text-decoration: none; /*Los enlaces no tendrán nada decorativo*/
    }
    img {
       width: 100%;
    }
    .contenedor{
        max-width: 120rem;
        margin: 0 auto;
    }
    
    h1,h2,h3 {
        text-align: center;
        color: var(--secundario);
        font-family: var(--fuentePrincipal);
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 3.2rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    /*Header*/
    .header{
        display: flex; /*Para hacer flexible el logo*/
        justify-content: center; /*Para centrar el logo*/
    }
    .header__logo{
        margin: 3rem 0; /*Separa el logo de la parte de arriba*/
    }
    /*Footer*/
    .footer{
background-color: var(--primarioOscuro);
padding: 1rem 0;
margin-top: 2rem;
    }
    .footer__texto{
text-align: center;
font-family: var(--fuentePrincipal);
font-size: 2.2rem;
    }
   
    /*Navegación*/
    .navegacion{
background-color: var(--primarioOscuro);
padding: 1rem 0;/*Hizo un poco mas ancho la barra oscura donde van los enlaces*/
display: flex;
justify-content: center;   
gap: 2rem; /*Separa los elementos nosotros tienda*/
}
.navegacion a:hover{
    background-color: var(--negro);
}
    .navegacion__enlace{
font-family: var(--fuentePrincipal);
color: var(--blanco);
font-size: 3rem;

    }

.navegacion__enlace--activo,/*Modificador*/
.navegacion__enlace:hover{
        color: var(--secundario);
    }
    /*Grid*/
.grid{
        display: grid; /*Con este manipulo la siguiente funcion*/
grid-template-columns: repeat(2, 1fr); /*Divido dos elementos en una fr */
    gap: 2rem;
}
    @media (min-width: 768px) {
        .grid{
            grid-template-columns: repeat(3, 1fr);
        }
    }
    /*Productos*/
    .producto{
background-color: var(--primarioOscuro);
padding: 1rem; /*se hara para dentro la img*/
    }
    .producto__nombre{
font-size: 40mx;
    }
    .producto__precio{
       
font-size: 2.8;
color:var(--secundario);
    }
    .producto__nombre,
    .producto__precio{
        font-family: var(--fuentePrincipal);
margin: 1rem 0;
text-align: center;
line-height: 1.2;
    }
/*Gráficos*/
.grafico{
min-height: 30rem;
background-repeat: no-repeat;
background-size: cover;
grid-column: 1 / 3;
}
.grafico--camisas{
grid-row: 2 / 3 ; /*Es de arriba hacia abajo*/
background-image: url(../img/grafico1.jpg);

}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}
@media (min-width: 768px) {
    .grafico--node{
        grid-row: 5 / 6;
        grid-column: 2 / 4;
        } 
}

/*Nosotros*/
.nosotros{
display: grid; /*Podemos posicionar la imagen*/
grid-template-rows: repeat(2, auto);
}
@media (min-width: 768px) {
    .nosotros{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        }  
}
.nosotros__imagen {
    grid-row: 1 / 2; /*Con esto colocamos la imagen arriba cuando se haga pequeña la ventana*/
  
    }



@media (min-width: 768px) {
    .nosotros__imagen{
        grid-column: 2 / 3; /*Con esto colocamos la imagen del lado derecho cuando se haga grandela ventana*/
    }
}

/*Bloques*/
.bloques{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .bloques{
        grid-template-columns: repeat(4, 1fr); 
    }
}
.bloque{
    text-align: center;
}
.bloque__titulo{
    margin: 0;
}

/*Página Del Producto*/
@media (min-width: 768px) {
    .camisa{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}
.formulario {
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 2rem; /*Separa los elementos*/
}
.formulario__campo {
/*border-color:var(--primarioOscuro);Cambiara el color del borde*/
/*border-width: 1rem; /*Creata un borde de 10px*/
/*border-style: solid;*/
border: 1rem solid var(--primarioOscuro);/*Creara los 3 tipos de arriba en uno*/
background-color: transparent;/*Usara el color del body(predeterminado)*/
color: var(--blanco);
font-size: 2rem;/*Hara mas grande la letra*/
font-family: Arial, Helvetica, sans-serif;
padding: 1rem;
appearance: none;
}
.formulario__submit {
background-color: var(--secundario);
border: none; /*Todos los submit tienen un borde y con este se lo quitamos*/
font-size: 2rem;
font-family: var(--fuentePrincipal);
padding: 2rem;
transition: background-color .3s ease; /*Creara un tipo de animación al boton*/
grid-column: 1 / 3;
}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

